@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #121212;
    color: #b5b5b5;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    -webkit-app-region: drag;
    font-family: 'Roboto', sans-serif;
}

.dm {
    margin-top: 6px;
    margin-right: 12px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 5px;
    left: 45%;
    font-size: 0.5rem;
    font-weight: bold;
}

.titlebar {
    width: 100%;
    height: 32px;
    position: fixed;
    left: 0;
    z-index: 100;
    background-color: #121212;
}

.title {
    font-size: 12px;
    top: 10px;
    text-align: center;
}


select {
    -webkit-app-region: no-drag;
    background-color: #121212;
    color: #b5b5b5;
    border: 0;
    font-weight: bold;
    height: 32px;
    vertical-align: middle;
}

option {
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    clear: both;
    color: #b5b5b5;
    font-weight: 600
}

h1,
.h1 {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0px
}

h4 {
    font-size: 1.25rem;
}

.specs {
    letter-spacing: 0.05rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
}

.button {
    -webkit-app-region: no-drag;
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #575757;
    color: #d7d7d7 !important;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    justify-content: center;
    padding: 16px 32px;
    height: 18px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

.button-small {
    padding: 4px 8px;
    font-size: 0.75rem;
    line-height: 1rem;
    height: 22px;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background: #373737
}

.button:active {
    outline: 0
}

.button::before {
    border-radius: 2px
}

.primary {
    color: #1d7adb;
}

.end-button {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
}

.start-button {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
}

.button-primary {
    background: #1d7adb;
}
.button-danger {
    background: #db1d1d;
}

.button-danger:hover {
    background: #8f1212;
}

.button-success {
    background: #1ddb36;
}

.button-success:hover {
    background: #128f31;
}
.button-primary:hover {
    background: #124e8f;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    margin-bottom: 80px;
}

tr {
    height: 48px;
    border-bottom: 1px solid #575757;
    vertical-align: middle;
}

td:first-child {
    font-weight: bold;
}

th {
    position: sticky;
    top: 32px;
    background-color: #121212;
}

td {
    padding: 4px;
}

progress {
    height: 28px;
    border-radius: 2px;
    margin-bottom: -9px;
    width: 50%;
    padding-bottom: 6px;
}

progress::-webkit-progress-value {
    background: #1d7adb;
}

.end {
    right: 5px;
    position: absolute;
}