<div hidden id="account_content" class="view">
    <p>Username: <b>Anonymous</b></p>
    <hr>
    <b>Log a support ticket:</b>
    <p>Issue <input></p>
    <p>Description <textarea rows="5"></textarea></p>
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-sm right">Submit</button>
</div>