@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('embedded-opentype'),
        /* Internet Explorer */
        url('./fonts/Roboto-Regular.ttf') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/Roboto-Regular.ttf') format('woff'),
        /* Pretty Modern Browsers */
        url('./fonts/Roboto-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/Roboto-Regular.ttf') format('svg');
    /* Legacy iOS */
}

:root {
    --darker: #202020;
    --dark: #363636;
    --light: #c1c5c8;
    --bs-blue: #1717e5;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #8a8a8e;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #8a8a8e;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #202020;
    --bs-primary: #1717e5;
    --bs-secondary: #8a8a8e;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #202020;
    --bs-primary-rgb: 23, 23, 229;
    --bs-secondary-rgb: 138, 138, 142;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 32, 32, 32;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 17, 17, 17;
    --bs-body-color-rgb: 32, 32, 32;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #202020;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: #111;
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #1717e5;
    --bs-link-hover-color: #1212b7;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

html {
    font-family: var(--bs-body-font-family);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--light);
    text-align: var(--bs-body-text-align);
    background-color: var(--darker);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(17, 17, 17, 0);
}

.navbar {
    background-color: var(--bs-border-color-translucent);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    border-right: 2px solid var(--darker);
    overflow: hidden;
    z-index: 1;
}

.logo {
    display: flex;
    vertical-align: middle;
    border-bottom: 0px solid var(--darker);
}

.logo img {
    width: 32px;
    height: 32px;
    padding: 14px;
}

.logo h1 {
    color: var(--light);
    font-size: 0.9rem;
    padding-top: 9px;
}

.nav-item {
    font-weight: 100;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    vertical-align: middle;
    display: flex;
    transition: 0.1s ease-in-out all;
    text-decoration: none;
    color: var(--light);
    border-left: 0;
}

.nav-item img {
    width: 20px;
    height: 20px;
    padding: 18px;
    filter: invert(85%) sepia(1%) saturate(808%) hue-rotate(175deg) brightness(96%) contrast(85%);

}

.active {
    background-color: var(--darker);
    font-weight: bold;
    border-left: 4px solid white;
    transition: 0.1s ease-in-out all;
    color: white;
}

.nav-item:hover {
    background-color: var(--dark);
    transition: 0.1s ease-in-out all;
}

.bottom {
    position: fixed;
    bottom: 0px;
    width: 25%;
}

.content {
    display: block;
    left: 25%;
    position: absolute;
    width: 75%;
    height: calc(100%-60px);
    top: 0;
    z-index: 2;
    margin-top: 60px;
}

#header {
    left: 25%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #111;
    display: flex;
    height: 60px;
}

.title {
    z-index: 3;
    margin: 0;
    padding: 0px;
    vertical-align: middle;
    height: 40px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: var(--light);
    background: -moz-linear-gradient(left, var(--light) 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, var(--light) 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, var(--light) 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, var(--light) 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, var(--light) 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1s infinite linear;
    animation: load3 1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: var(--darker);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: var(--darker);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.info {
    text-align: center;
    display: block;
}

.sirow {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.key {
    width: 100px;
}

.btn {
    background-color: var(--bs-border-color-translucent);
    border: 2px solid var(--dark);
    box-shadow: 0;
    padding: 8px 16px;
    color: var(--light);
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 4px;
    line-height: 1rem;
    cursor: pointer;
    transition: 0.1s ease-in-out all;
    min-width: 80px;
}

.btn-sm {
    font-size: 0.75rem;
    padding: 4px 8px;
    height: 32px;
    margin: 12px;
}

.toolbar > .btn-sm {
    margin: 0;
}

.btn:hover {
    background-color: var(--dark);
    box-shadow: 0px 0px 4px var(--darker);
    transition: 0.1s ease-in-out all;
    color: white;
}

.m0 {
    margin: 0;
}

.right {
    float: right;
}

line::before {
    border-bottom: 1px solid var(--bs-border-color-translucent);
    content: '';
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.main {
    padding-left: 0px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 1px solid var(--bs-border-color-translucent);
    padding-left: 16px;
}

.svg {
    filter: invert();
}

input {
    width: 75%;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 4px;
    border: none;
    background-color: var(--dark);
    color: white;
    padding: 4px 8px;
    position: absolute;
    right: 20px;
}

textarea {
    width: 75%;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 4px;
    border: none;
    background-color: var(--dark);
    color: white;
    padding: 4px 8px;
    position: absolute;
    right: 20px;
    display: inline-block;
    resize: none;
}

.contents {
    margin-left: 20px;
    margin-right: 20px;
}

.icon {
    width: 32px;
    height: 32px;
    filter: invert(85%) sepia(1%) saturate(808%) hue-rotate(175deg) brightness(96%) contrast(85%);
    top: 0;
}

.icon-sm {
    width: 16px;
    height: 16px;
    margin-top: -4px;
}

#header>img {
    left: 16px;
    top: 14px;
    padding: 14px;
}

#header>h2 {
    padding-top: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 16px 16px 16px 0;
    padding: 0;
    align-items: stretch;
    width: 100%;
}

.row>.card {
    flex: 1;
}

.card {
    border: 2px solid var(--light);
    padding: 8px 32px 32px 32px;
    border-radius: 20px;
    margin: 8px;
    min-width: 200px;
    max-width: 300px;
}

.card>h3 {
    border-bottom: 2px solid var(--bs-border-color-translucent);
    padding: 0 16px 16px 0px;
    width: 100%;
}

select {
    margin: 0px 16px 16px 4px;
    padding: 4px;
    font-size: 1em;
    background-color: var(--darker);
    color: var(--light);
    border: none;
}

.tag {
    display: inline-block;
    border: 1px solid var(--light);
    border-radius: 10px;
    width: auto;
    padding: 4px 8px;
    margin: 4px;
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.toolbar {
    position: fixed;
    top: 18px;
    right: 16px;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.filter {
    font-size: 0.75rem;
    line-height: 0;
    padding: 2px;
}

.system-icon {
    width: 48px;
    height: 48px;
    padding: 16px;
}

.hidden {
    visibility: collapse;
}

.spinner {
    border: 2px solid var(--dark);
    /* Light grey */
    border-top: 2px solid var(--light);
    /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-light {
    background-color: var(--light);
    color: var(--dark);
}


.btn_icon {
    min-width: 28px !important;
    padding: 2px;
}

.btn-icon {
    width: 14px;
    height: 14px;
    filter: invert();
}

a {
    text-decoration: none;
}