<div id="navbar" class="navbar">
    <div class="logo">
        <img src="./icons/logo.png" alt="UBench Logo" />
        <h1>UBench Launcher</h1>
    </div>

    <div id="navbar_bottom" class="bottom">

    </div>
    <p hidden id="selected_menu_item"><%=menu%></p>

</div>

<div id="header">
    <img id="title_img" class="icon" src="">
    <h2 id="title" class="title"></h2>
</div>