<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBench Launcher</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <%- include ('navbar') %>

    <div id="header">
        <h2 id="title" class="title">Title</h2>
    </div>
    <div class="content">
        <div id="contents" class="main"></div>
        <p hidden id="sysinfo"><%=sysinfo%></p>
    </div>
</body>
<script src="./js/app.js"></script>
<script>
    let sysinfo = JSON.parse(document.getElementById("sysinfo").innerHTML);
    console.log(sysinfo)
    let disks = ``;
    let gpus = ``;
    for (var i = 0; i < sysinfo.disks.length; i++) {
        disks += `${sysinfo.disks[i].name} ${sysinfo.disks[i].size} GB<br>`;
    }
    for (var i = 0; i < sysinfo.gpu.length; i++) {
        gpus += `${sysinfo.gpu[i].model} ${sysinfo.gpu[i].vram} MB<br>`;
    }
    document.getElementById("contents").innerHTML = `
    <p class="sirow"><b>${sysinfo.system.model}</b></p>
    <line/>
    <p class="sirow"><b class="key">Board</b> ${sysinfo.board.model}<br>Version ${sysinfo.board.version}<br>Made by ${sysinfo.board.manufacturer}</p>
    <line/>
    <p class="sirow"><b class="key">CPU</b> ${sysinfo.cpu.brand}<br>${sysinfo.cpu.processors} x ${sysinfo.cpu.speed} GHz<br>${sysinfo.cpu.cores} Core / ${sysinfo.cpu.threads} Thread</p>
    <line/>
    <p class="sirow"><b class="key">GPU</b> ${gpus}</p>
    <line/>
    <p class="sirow"><b class="key">Memory</b> ${sysinfo.ram} GB</p>
    <line/>
    <p class="sirow"><b class="key">Disks</b> ${disks}</p>
    <line/>
    <p class="sirow"><b class="key">OS</b> ${sysinfo.os.distro}</p>

    
    <button class="btn btn-sm right">Report Issue</button>
    `;
</script>

</html>